<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
      <tr>
        <th scope="row"><%= movie.id %></th>
        <td><%= movie.title %></td>
        <td><%= '%.1f' % movie.rating %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
